.section-politics {
    margin-bottom: 33px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: -18px;
}

@media (max-width: 580px) {
    .section-politics {        
        margin-bottom: 6px;
        margin-top: 0px;
    }
  }
  

