.social {
    background-color: #575B53;
    border-radius: 12px;
    padding: 29px 15px 6px 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 172px;

}

@media (max-width: 1620px) {
    .social  {        
        padding: 9px 15px 6px 15px;
    }
}