.card-main__title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 26px;
    margin: 0 20px 0 20px;
    letter-spacing: 2px;
    
}

@media (max-width: 1620px) {
    .card-main__title  {
        font-size: 22px;
    }
}

@media (max-width: 1270px) {
    .card-main__title  {
        font-size: 20px;
    }
}

@media (max-width: 580px) {
    .card-main__title  {
        font-size: 14px;
    }
}