.card-donat {
    /* width: 367px; */
    width: 100%;
    
    background-color: #7F7F7F;
    border-radius: 12px;
    /* margin-bottom: 15px; */
    min-height: 50px;
    overflow: hidden;
    height: 100%;
}

