.card-video__time {
    background-color: #0000007a;
    color: white;
    position: absolute;
    border-radius: 4px;
    padding: 3px;
    right: 10px;
    bottom: 20%;
    
}

@media (max-width:500px) {
    .card-video__time {
        bottom: 30%; 
    }
}

@media (max-width:350px) {
    .card-video__time {
        bottom: 40%; 
    }
}