.card-them__description {
    font-weight: 600;
    font-size: 12px;
    padding: 0px 20px 20px 20px;
    margin: 0px;
    color: black;
    

}



@media (max-width: 1270px) {
    .card-them__description {
        font-size: 12px; 
    } 
}