.card-main {
  background-image: url(../../images/main-card.png);
  width: 100%;
  height: 100%;
  height: 360px;
  border-radius: 12px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-size: cover;
}
@media (max-width: 980px) {
  .card-main {
    height: 500px;
  }
}

@media (max-width: 580px) {
  .card-main {
    height: 270px;
  }
}
