.section-main__title {
    color: black;
    font-size: 35px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 12px;
    letter-spacing: 2px;
}

@media (max-width: 1620px)  {
    .section-main__title {
        font-size: 30px; 
    }
}

@media (max-width: 1270px)  {
    .section-main__title {
        font-size: 28px; 
    }
}