.footer__social {
  right: 0;
  position: absolute;
  max-width: 280px;
  bottom: 0px;
  margin-right: 41px;
}

@media (max-width: 980px) {
  .footer__social {
    margin-right: 0px;
  }
}

@media (max-width: 1250px) {
  .footer__social {
    position: relative;
  }
}
