.social__lists {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin: 0;
  padding: 0;
  justify-content: center;
}

@media (max-width: 1280px) {
  .social__lists {
    gap: 5px;
  }
}

@media (max-width: 580px) {
  .social__lists {
    gap: 11px;
  }
}

.social__lists img {
  width: 35px;
  height: 35px;
}