.card-main {
    background-image: url(../../images/main-card.png);
    /* width: 810px; */
    width: 100%;
    height: 402px;
    border-radius: 12px;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    justify-content: end;
}

@media (max-width: 1620px) {
    .card-main {
        height: 319px; 
    }
}

@media (max-width: 580px) {
    .card-main {
        height: 208px; 
    }
}