.card-exclusive {
    color: black;
/* border: solid 1px red; */
/* width: 714px; */
width: 100%;
padding: 0px;
margin: 0px;
/* background-color: #FBFBFB; */
border-radius: 12px;
list-style-type: none;
}

