.header__widget_telegramm-text {
    font-size: 11px;
}



@media (max-width: 1270px) {
    .header__widget_telegramm-text {
        font-size: 11px;
    }
}

@media (max-width: 830px ) {
    .header__widget_telegramm-text {
        display: none;
    }
}