.footer__container {
  display: flex;
  flex-direction: row;
  width: calc(100% - 255px);
  position: relative;
}

@media (max-width: 1618px) {
  .footer__container {
    width: calc(100% - 15px);
  }
}

@media (max-width: 1250px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

@media (max-width: 580px) {
  .footer__container {
    width: calc(100% - 37px);
  }
}
