.section-views {
    margin-bottom: 50px;
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 980px) {
    .section-views {        
        margin-bottom: 20px; 
        margin-top: 0px;       
    }
  }
  

@media (max-width: 580px) {
    .section-views {        
        margin-bottom: 10px;        
    }
  }
  

