.page__footer {
    width: 100%;
    place-content: center;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 23px;
    /* max-width: 1630px; */
    align-items: center;
    background-color: #575b53;
    /* padding-left: 20px;
    padding-right: 20px; */
    padding-top: 31px;
}