/* .section-duble-line_video {
    height: 492px;
}

@media (max-width:1281px) {
    .section-duble-line_video {
        height: 400px;
    }
}

@media (max-width:1001px) {
    .section-duble-line_video {
        height: 998px;
    }
}

@media (max-width:580px) {
    .section-duble-line_video {
        height: 726px;
    }
} */


