.element-title__link {
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    color: #80837F;
    white-space: nowrap;
}



@media (max-width: 1270px) {
    .element-title__link {
        font-size: 10px;
    } 
}