.footer__direction {
 display: flex;
 flex-direction: row; 
 justify-content: space-between;
 width: 100%;
 position: relative;
 flex-wrap: wrap; 
}

.footer__direction nav { 
 max-width: 150px;
}



.footer__direction nav ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.footer__direction nav li {
  margin-bottom: 11px;
}




.footer__direction nav ul a {
  text-decoration: none;
  color: #D3D3D3;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 10px;
}

.footer__direction nav h3 {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 0px;
}

.footer__direction .footer__direction_line {
  border-bottom: 1px solid;
  font-size: 14px;
  
}


@media (max-width: 1620px) {
  .footer__direction nav ul a {    
    font-size: 13px;    
  }
  .footer__direction nav h3 {    
    font-size: 17px;    
  }
  .footer__direction .footer__direction_line {   
    font-size: 12px;    
  }

}

@media (max-width: 1250px)  {
  .footer__direction {
    display: none;
  }
}