.read-in-categories__discription {
    border-bottom: 1px solid #DADADA;
    padding-bottom: 20px;
    color: #000000;
    font-weight: 500;
    font-size: 18px;
    margin: 5px 0px 0px 0px;
    padding-bottom: 15px;
}

@media (max-width: 1620px)  {
    .read-in-categories__discription {
        font-size: 15px; 
    } 
}

@media (max-width: 1270px)  {
    .read-in-categories__discription {
        font-size: 13px; 
    } 
}