.card-operational__title_subtitle {
    font-size: 20px;
    font-weight: 600;

}

@media (max-width: 1620px) {
    .card-operational__title_subtitle {
        font-size: 17px;
    }  
}

@media (max-width: 1270px) {
    .card-operational__title_subtitle {
        font-size: 15px;
    }  
}