.social__sub-title {
    font-size: 18px;
font-weight: 500;
margin-top: 5px;
}

@media (max-width: 1620px)  {
    .social__sub-title {
        font-size: 15px;
   
    }  
}

@media (max-width: 1270px)  {
    .social__sub-title {
        font-size: 13px;
   
    }  
}