.card-exclusive_politics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap:  20px;
    row-gap: 15px;
}


@media (max-width: 1230px) {
    .card-exclusive_politics {
        grid-template-columns: 1fr; 
    }
}