.card-exclusive__subtitle {
    font-weight: 600;
    font-size: 18px;
    margin-top: 0px;
    color: black;

}

@media (max-width: 1620px) {
    .card-exclusive__subtitle {
        font-size: 16px;
    }  
}