 .page__main {
  margin-top: 15px;
    margin-bottom: 54px;
    width: calc(100% - 200px);
    display: flex;
    flex-direction: column;
    max-width: 1630px;
    align-items: center;
    
}

@media (max-width: 1280px) {
  .page__main {    
    width: calc(100% - 100px);   
  }
}

@media (max-width: 980px) {
  .page__main {    
    margin-bottom: 20px;     
  }
}

@media (max-width: 700px) {
  .page__main {    
    margin-bottom: 0px;
  }
}


@media (max-width: 580px) {
  .page__main {
    width: calc(100% - 15px);    
  }
}
