.page__header {
  width: calc(100% - 40px);
  display: flex;
  flex-direction: row;
  gap: 23px;
  max-width: 1630px;
}
.page__header:last-child {
  justify-content: space-between;
  align-items: center;
}
