.page__header {
    width: calc(100% - 40px) ;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 23px;
    max-width: 1630px;
    /* align-items: center; */
    /* padding-left: 20px;
    padding-right: 20px; */
    
}
.page__header:last-child {
  justify-content: space-between; 
}