.card-avatar  {
    color: black;
    /* border: solid 1px red; */
    /* width: 792px; */
    /* padding: 20px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;    
}