.card-exclusive__link {
    font-weight: 400;
    font-size: 14px;
    color: #80837F;
   
    
}

@media (max-width: 1620px) {
    .card-exclusive__link {
        font-size: 12px; 
    }
}

@media (max-width: 1270px) {
    .card-exclusive__link {
        font-size: 10px; 
    }
}