.card-avatar__lists {
    padding: 25px 25px 0px 25px;
    margin: 0px;
    background-color: #FBFBFB;
    border-radius: 8px;
    list-style-type: none;
    
}

@media (max-width: 1620px)  {
    .card-avatar__lists {
        padding: 15px 15px 0px 15px;
    }  
}
