.header {
  width: 100%;
  min-height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #ffffff;
  margin-top: 12px;
  position: relative;
}

@media (max-width: 1270px) {
  .header {
    margin-top: 0px;
  }
}
